  <div class="row">
    <div class="col-sm-6 col-md-3 no-gutter">
      <%= image_tag 'pork-sammy.jpg', class: "img-responsive" %>
    </div>
    <div class="col-sm-6 col-md-3 no-gutter">
      <%= image_tag 'pulled.jpg', class: "img-responsive" %>
    </div>
    <div class="col-sm-6 col-md-3 no-gutter">
      <%= image_tag 'ribs.jpg', class: "img-responsive" %>
    </div>
    <div class="col-sm-6 col-md-3 no-gutter">
      <%= image_tag 'pulled.jpg', class: "img-responsive" %>
    </div>

  </div>

</div>

<div class="container">
  <div class="row p-t-2">
    <div class="col-md-9">
      <h1>Better Days BBQ</h1>
      <p>We specialize in mouth-watering slow-smoked barbecue at prices that cannot be beat! Established in 2015, Better Days BBQ is quickly becoming the go-to spot for BBQ done right in Smyrna, Tennessee. </p>
      <p>Better BBQ at Better Prices means Better Days!</p>

      <h2 class="p-t-3">Recent News / Events</h2>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
      <%= @posts.each do |post| %>

      <% end %>


    </div>
    <div class="col-md-3">
      <h2>Our Location</h2>
      <p>11469 Old Nashville Hwy,<br>Smyrna, TN 37167</p>
    </div>

  </div>
</div>









  <div class="row">
    <div class="col-sm-6 col-md-3">
    </div>
    <div class="col-sm-6 col-md-3">
    </div>
    <div class="col-sm-6 col-md-3">
    </div>
    <div class="col-sm-6 col-md-3">
    </div>

  </div>

<!--
  <div class="row">
    <div class="col-md-3 bg-red no-gutter">
      <%= image_tag "better.png", class: 'img-responsive' %>

    </div>
    <div class="col-md-3 no-gutter text-red">
      <h2>BARBECUE</h2>
    </div>
    <div class="col-md-4 bg-gray">
      <h2>What's Cooking?</h2>
    </div>

  </div>
 -->